@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>More about <a href="https://www.triphobo.com/tripplanner">Travel with Triphobo </a>.</p>
</div>
